<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BLUE ENCOUNT</title>
</head>
<body>
  <h2>BLUE ENCOUNT</h2>
  <p>ENCOUNTの情報などを記載する部分</p>
  <p>公式ウェブサイトへのリンク: <a href="https://blueencount.jp/">https://blueencount.jp/</a></p>
</body>
</html>

