<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>アーティスト一覧</title>
</head>
<body bgcolor=“#000000” text="ffffff" link=”ff0000”>
  <h2>アーティスト一覧</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>アーティスト名</th>
    </tr>
    <% data.forEach(function(row) { %>
      <tr id="artist<%= row.id %>">
        <td><%= row.id %></td>
        <td>
          <a href="/artist/<%= row.id %>"><%= row.artist_name %></a>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
</html>


