<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>新しい曲が追加されました</title>
</head>

<body>
    <h2>新しい曲が追加されました</h2>
    <p>曲ID: <%= data.id %></p>
    <p>曲名: <%= data.name %></p>
    <p>アーティストID: <%= data.artist_id %></p>
    <p><a href="/db">データベースに戻る</a></p>
</body>

</html>

