<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Song List</title>
</head>
<body>
  <h2>曲名　一覧</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>曲名</th>
    </tr>
    <% data.forEach(function(row) { %>
      <tr id="song<%= row.id %>">
        <td><%= row.id %></td>
        <td><a href="/song/<%= row.id %>"><%= row.song_name %></a></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>

