<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vaundy</title>
</head>
<body>
  <h2>Vaundy</h2>
  <p>バンディーの情報などを記載する部分</p>
  <p>公式ウェブサイトへのリンク: <a href="https://vaundy.jp/">https://vaundy.jp/</a></p>
</body>
</html>
